.list-container{
    list-style: none;
    background-color: rgb(234, 233, 232);
    border: solid black 1px;
    border-radius: 5px;
    width: 50%;
    padding:0.5rem;
}
.list-container li{
    margin-bottom: 0.5rem;
    border: solid rgb(175, 175, 175) 1px;
    border-radius: 5px;
    width: 98%;
    height: 30px;
    padding: 0.2rem;
    font-size: 15px;
    font-weight: 600;
}